@*Footer*@
<footer id="footer">
    <div class="container">
        <span>&copy; @DateTime.Now.Year  All Rights Reserved: <b>CamboTopJobs KH</b> </span>
        <span class="pull-right">&reg; Develop by <strong>Phorlly</strong> </span>
    </div>
</footer>
